@page "/STCPay"
@namespace ConceptsClient.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <title>STC Pay</title>
    <base href="~/STCPay" />

</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<AppStcPay>(RenderMode.ServerPrerendered))
    </app>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
