@using DTOs.TerminalResponses
@using ConceptsClient.Controllers.Transactions
@using ANBBusinessServices.TerminalRequests
@using ConceptsClient
@inject STCPayFlowController stcPayFlowController
@inject NavigationManager NavigationManager

@page "/STCPay/ShowQRCode"
@page "/STCPay/"

@code{

    protected override void OnInitialized()
    {
        base.OnInitialized();
        stcPayFlowController.navigationManager = NavigationManager;
        stcPayFlowController.GetQRCode();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender == true)
        {
            stcPayFlowController.QRImageLoaded(new SingleFieldRequest<string> { Data = stcPayFlowController.qRCodeInfoResponse.QRCodeSeqNo });
        }

    }
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        return base.OnAfterRenderAsync(firstRender);
    }

}

<div>
    <div style="height:124px">
        <div class="titleParent">
            <div style="background-color:none; text-align:center;  color: white; display: table-cell; width: 1024px;">
                <img src="./images/stcpay.png" style="height:90px; margin-top:20px;" />
            </div>
        </div>
    </div>

    <div class="FDK123Title23Row" style="text-align:center; display:table; width:100%;">
        <div class="line" style="display:table-cell;vertical-align:middle; text-align:center; ">
            <div><img style="width:510px" src="@stcPayFlowController.qRCodeInfoResponse.QRCodeData" /></div>
        </div>
    </div>
    <div class="FDK4Row" style="text-align:center">
        <a class="FDKButton rightFDK">Cancel</a>
    </div>

</div>
